@keyframes faded {
	from {
		opacity:0;
	}

	to {
		opacity:1;
	}
}

@-moz-keyframes faded {
	from {
		opacity:0;
	}

	to {
		opacity:1;
	}
}

@-webkit-keyframes faded {
	from {
		opacity:0;
	}

	to {
		opacity:1;
	}
}

.login h1 {
	animation:faded 1.5s ease;
	-moz-animation:faded 1.5s ease;
	-webkit-animation:faded 1.5s ease;
}

.login h1 a {
	background:url(../../images/rstyle-design-logo.svg) no-repeat;
	background-size:310px 64px;
	display:block;
	width:100%;
}
