@import 'vars';

@media only screen and (min-width: 1920px) {
	body {
		background-size: contain !important;
		background-position: 0 -15%;
	}
}

@media only screen and (max-width: $lg-tablet) {
	.call {
		&:before {
			position: static;
			margin-right: var(--space-1);
		}
	}
}

@media only screen and (max-width: $md-tablet) {
	.wrapper {
		width: 92%;
	}

	.top {
		max-width: $sm-tablet;
		margin-left: auto;
		margin-right: auto;

		.wrapper {
			flex-direction: row;
		}

		.absolute {
			position: static;
		}

		h1 {
			font-size: 66px;
			line-height: .83;

			small {
				font-size: 36px;
				line-height: inherit;
			}
		}
	}

	.services {
		max-width: $sm-tablet;
		margin-left: auto;
		margin-right: auto;
	}

	.all-services {
		flex-wrap: wrap;

		> .service:not(:last-child) {
			margin-bottom: var(--space-2);
		}
	}

	.service {
		width: 100%;

		header {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	.services-bottom {
		flex-wrap: wrap;
		max-width: 520px;
		margin: auto;
		justify-content: center;
	}

	.call {
		transform: translateX(-25px);
		margin-bottom: var(--space-4);
	}
}