//Breakpoints
$full-hd: 1920px;
$desktop: 1200px;
$lg-tablet: 1024px;
$md-tablet: 992px;
$sm-tablet: 768px;
$lg-phone: 600px;
$md-phone: 480px;
$sm-phone: 320px;

:root {
  //Fonts
  --main: 'Agenda-Medium', verdana, sans-serif;
  --headline: 'Agenda-Bold', verdana, sans-serif;
  --script: 'Cuisine', script;

  //Colors
  --white: #FFF;
  --black: #000;
  --shadow-color: rgba(0,0,0,0.4);
  --dark-green: #398234;
  --neon-green: #8aff7d;
  --baby-blue: rgb(156,209,235, 0.66);

  //Spacing
  --max-width: 960px;
  --space: 16px;
  --space-half: calc(var(--space) / 2);
  --space-1: var(--space);
  --space-1-half: calc(var(--space-1) + var(--space-1-half));
  --space-2: calc(var(--space) * 2);
  --space-3: calc(var(--space) * 3);
  --space-4: calc(var(--space) * 4);
  --space-5: calc(var(--space) * 5);
  --space-6: calc(var(--space) * 6);
  --space-7: calc(var(--space) * 7);
  --space-8: calc(var(--space) * 8);

  @media only screen and (max-width: $md-tablet) {
    --max-width: 768px;
  }
}