//Breakpoints
$full-hd: 1920px;
$desktop: 1200px;
$tablet: 768px;

:root {
  //Fonts
  --main: 'Agenda-Medium', verdana, sans-serif;
  --headline: 'Agenda-Bold', verdana, sans-serif;

  //Spacing
  --max-width: 960px;
  --space: 16px;
  --half-space: calc(var(--space) / 2);
}