@import 'reset';
@import 'vars';
@import 'fonts';

@keyframes clouds {
	from {
		background-position: 0px 0px;
	}

	to {
		background-position:-10000px -000px;
	}
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	background: #45913f url(../images/bg-top.jpg) no-repeat center top;
	color: var(--white);
	font-size: 16px;
	font-family: var(--main);
	text-shadow: 1px 1px 0px var(--shadow-color);
	line-height: 1.3;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}

p {
	margin-bottom: var(--space-1);

	&.more {
		font-weight: bold;
		text-align: right;
	}
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: var(--headline);
	text-transform: uppercase;
	clear: both;
	font-weight: normal;
	color: var(--white);
}

h1 {
	line-height: 1;
	font-size: 24px;
	margin-bottom: var(--space-2);

	small {
		display: block;
	}

	br {
		display: none;
	}
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

.wrapper {
  width: 100%;
  max-width: var(--max-width);
	margin: auto;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

.btn {
	font-family: var(--headline);
	font-size: 24px;
	border-radius: 10px;
	display: inline-block;
	text-transform: uppercase;
}

header.main {
	margin-top: 24px;
	margin-bottom: var(--space-4);

	.wrapper {
		align-items: center;
	}

	.menu {
		font-family: var(--headline);
		font-size: 18px;
		text-transform: lowercase;
		display: flex;
		justify-content: space-between;
	
		li {
			margin-left: 30px;
		}
		
		a {
			color: var(--white);
		}
	}
}

.top {
	width: 100%;
	min-height: 550px;
	overflow: auto;
	text-align: center;

	&:before {
    content: '';
    display: block;
		width: 100%;
    height: 550px;
    background: url(../images/bg-clouds2.png) repeat-x;
    animation: clouds linear infinite 1000s;
    position: absolute;
		top: 0;
    left: 0;
    z-index: -1;
	}

	.wrapper {
		flex-direction: column;
	}

	header {
		margin: var(--space-1-half) auto 0 auto;
		text-align: center;
	}
	
	h1 {
		font-size: 97px;
		line-height: 70px;

		small {
			font-size: 52px;
			line-height: 42px;
		}
	}
	
	p {
		font-size: 18px;
		margin: 0 0 var(--space-2) 0;
	}
	
	.btn {
		border: 1px solid var(--white);
		padding: 10px;
		background: #e6700e;
		background: #f3ae36;
		background: -moz-linear-gradient(top,  #f3ae36 0%, #d84202 100%);
		background: -webkit-linear-gradient(top,  #f3ae36 0%,#d84202 100%);
		background: linear-gradient(to bottom,  #f3ae36 0%,#d84202 100%);
		color: var(--white);
	}
}

.latinrogue {
	position: relative;
	top: -27px;
	left: -42px;
	width: 320px;
}

.logo {
	width: 310px;
}

.bottom-grass {
	width: 100%;
	background: #46913f;
	background: -moz-linear-gradient(top, rgba(70,145,63,1) 0%, rgba(44,112,39,1) 50%, rgba(70,145,63,1) 100%);
	background: -webkit-linear-gradient(top, rgba(70,145,63,1) 0%,rgba(44,112,39,1) 50%,rgba(70,145,63,1) 100%);
	background: linear-gradient(to bottom, rgba(70,145,63,1) 0%,rgba(44,112,39,1) 50%,rgba(70,145,63,1) 100%);
	border-bottom: 1px solid var(--black);
}

.about {
	width: 100%;
	margin-bottom: var(--space-5);
	overflow: auto;
	
	h1 {
		font-size: 78px;
		line-height: 60px;
		text-align: center;

		small {
			font-size: 52px;
			line-height: 42px;
			text-align: center;
		}
	}
}

.about-left {
	width: 250px;
	margin: 0 var(--space-3) 0 0;
	overflow: hidden;
	flex: 1;
	display: flex;
	align-items: center;
}

.about-right {
	width: 660px;
}

.services {
	width: 100%;
	overflow: auto;
	margin-bottom: var(--space-5);
	
	.wrapper {
		flex-direction: column;

		> article {
			margin-bottom: var(--space-5);
		}
	}

	h1 {
		font-size: 87px;
		text-align: center;
	}
	
	h2 {
		font-size: 41px;
		padding-left: 70px;
		margin-bottom: 20px;
		padding-top: 10px;
	}
}

.all-services {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.service {
	width: calc(33.33% - (40px / 3));

	header {
		text-align: center;
	}

	h3 {
		font-size: 41px;
	}
}

.call {
	background: url(../images/bg-call.png) no-repeat;
	position: relative;
	width: 519px;
	height: 200px;
	display: block;
	left: -120px;
	top: -70px;
	text-indent: -99999px;
}

.quotes {
	width: 322px;
	height: 125px;
	overflow: hidden;
	padding-left: var(--space-4);

	div {
		margin-left: var(--space-4);
	}
}

.quote-name {
	font-family: var(--headline);
	margin: 0;
	text-align: right;
}

.bottom {
	width: 100%;
	border-top: 1px solid #b67c27;
	background: rgb(71,23,0);
	background: -moz-linear-gradient(top,  rgba(71,23,0,1) 0%, rgba(121,72,0,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(71,23,0,1) 0%,rgba(121,72,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(71,23,0,1) 0%,rgba(121,72,0,1) 100%);
	overflow: hidden;
	
	article {
		p {
			margin:0 0 calc(var(--space-1) + var(--space-half)) 0;
		}
	}

	h1 {
		font-size: 87px;
		text-align: center;
		line-height: 1;
    
    small {
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      margin: 0 0 var(--space-2) 0;
    }
	}
}

.dirt {
	box-shadow: inset 0px 15px 30px rgba(0,0,0,0.50);
	width: 120%;
	padding: var(--space-5) 0 0;
	margin-left: -10%;
}

.quote-left {
	margin-right: var(--space-3);
}

.quote-right {
	width: 100%;
	max-width: 310px;

	.frm_fields_container {
		display: flex;
		flex-wrap: wrap;

		> * {
			width: 100%;

			&:not(:last-child) {
				margin-bottom: var(--space-1);
			}
		}
	}

	label {
		display: none;
	}

	input,
	textarea {
		width: 100%;
		border-radius: 20px;
		border: 1px solid #7c2500;
		font-family: arial;
		font-size: 18px;
		color: #fff;
		box-shadow: inset 0px 0px 32px rgba(0,0,0,0.5);
		background: #4b2700;
		display: block;
		padding: 10px;
		clear: both;
		outline: none;
	}

	.state {
		margin-right: var(--space-1);

		input {
      color: #ccc;
    }
	}
	
	.zip,
	.state {
		width: calc(50% - (var(--space-1) / 2));
	}
	
	input[type="submit"] {
		border: 1px solid #f1b977;
		padding: 10px;
		background: #f1b977;
		background-image: linear-gradient(top, #f1b977, #e9932e);
		box-shadow: none;
		text-shadow: 1px 1px 0px #f5d19a;
		color: #d63900;
    text-transform: capitalize;
    width: 100%;
		display: block;
	}

	span {
		color: #CCC;
		font-size: 12px;
		clear: both;
	}

	small {
		font-size: 14px;
		text-align: center;
		display: block;
	}
}

#frm_field_cptch_number_container {
	input {
		margin-bottom: var(--space-1) !important;
	}
}

::-webkit-input-placeholder {
    color:#7c2500;
}

:-moz-placeholder {
    color:#7c2500;
}

.hasPlaceholder {
    color:#7c2500;
}

.absolute {
	position: absolute;
}

.sig {
	color: #FFF;
	font-style: italic;
	font-size: 10px;
	width: 100%;
	max-width: 170px;
	background: #563000;
	padding: 10px;
	border-radius: 10px 10px 0 0;
	text-align: center;
	margin-top: var(--space-5);

	img {
		display: inline-block;
  	margin-left: 10px;
	}
}

//One Page Love Award
.opl {
  position: fixed;
  top: 100px;
  left: 0;
	z-index: 99999;
	
	a {
		width: 73px;
		height: 56px;
		text-indent: -9999px;
		display: block;
		background: url('https://s3.amazonaws.com/onepagelove/one-page-love-award.png') no-repeat;
	}
}

@import 'responsive';