@font-face {
    font-family: 'Agenda-Bold';
    src: url('fonts/agendabold.eot');
    src: url('fonts/agendabold.eot?#iefix') format('embedded-opentype'),
         url('fonts/agendabold.woff') format('woff'),
         url('fonts/agendabold.ttf') format('truetype'),
         url('fonts/agendabold.svg#agendabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agenda-Medium';
    src: url('fonts/agendamedium.eot');
    src: url('fonts/agendamedium.eot?#iefix') format('embedded-opentype'),
         url('fonts/agendamedium.woff') format('woff'),
         url('fonts/agendamedium.ttf') format('truetype'),
         url('fonts/agendamedium.svg#agendamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}